@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
</head>
<body>
    <div class="carousel-item active" style="background-image: url(/wwwroot/images/5301521.webp)">
        </div>
</body>
</html>
